<nav class="navbar sticky-top bg-light" style="display: flex;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="../assets/Picture/OIP.jpg" style="width: 100px;height: 10%;">
      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100px;height: 10%;">
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
  </a>
    
    
    <form class="d-flex">

    </form>
  </div>
</nav>
<router-outlet style="background-color: white;"></router-outlet>
